<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container  text-center w-70 mt-4 card bg-dark text-white ">
		<h3 class="card-title mt-2" th:text="${titulo}"></h3>
		<hr>
		<div class="card-body">
			<table class="table bg-dark text-white ">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Fecha Nacimiento</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<body>
				<tr th:each="cliente : ${clientes}">
					<td>
					<a class="btn btn-primary" th:href="@{'/detalles/'+${cliente.id}}" th:text="${cliente.id}"></a>
					</td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td><a th:href="@{/form/} + ${cliente.id}" th:text="Editar"
						class="btn btn-primary btn-xs"></a></td>
					<td><a th:href="@{/eliminar/} + ${cliente.id}"
						th:text="Eliminar" class="btn btn-danger btn-xs"
						onclick="return confirm('¿Estás seguro de eliminar este registro?')"></a>
					</td>
				</tr>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>